.body-container h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-style: italic;
}

.body-container h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

.body-container h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.body-container p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.body-container a {
    color: oklch(86.5% 0.127 207.078); /* Tailwind's cyan-300 */
    transition: color 0.3s ease;
}

.body-container a:hover {
    color: oklch(91.7% 0.08 205.041); /* Tailwind's cyan-200 */
}

.body-container ul,
.body-container ol {
    margin-bottom: 1rem;
    padding-left: 1.5rem;
}

.body-container li {
    margin-bottom: 0.5rem;
}

.body-container code {
    color: #6b7280;
    font-style: italic;
    margin-bottom: 1rem;
}

.body-container pre {
    padding-left: 1rem;
    border-left: 4px solid #00D3F3;
    background-color: inherit !important;
}

.body-container img {
    max-width: 90%;
    height: auto;
    margin-bottom: 1rem;

}

.body-container blockquote {
    border-left: 4px solid #00D3F3;
    padding-left: 1rem;
    margin-bottom: 1rem;
    color: #6b7280;
    font-style: italic;
}