.project-card {
    display: grid;
    grid-template-columns: 1fr 3fr;

    & > .card-content {
        margin-left: 1rem;
        & > .title-row {
            display: flex;
            align-items: center;

            & > a.title {
                margin-left: 1rem;
            }
        }

        & > p.description {
            margin-left: 1rem;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
            font-size: 0.875rem;
            color: #94a3b8;
            margin-bottom: 2rem;
        }
    }
}

@media (max-width: 768px) {
    .project-card {
        position: relative;
        left: -1rem;

        & > .card-content {
            margin-left: 0;
            display: flex;
            flex-direction: column;

            & > .title-row {
                & > a.title {
                    text-align: left;
                    margin-left: 0.75rem;
                }

                & > .origin-badge-container {
                    display: none;
                }
            }

            & > p.description {
                margin-left: 0.75rem;
                margin-top: 0.5rem;
                margin-bottom: 1rem;
                font-size: 0.875rem;
                color: #94a3b8;
            }

            /* & > .origin-badge-container {
                position: relative;
                left: -6rem;
                top: 2rem;
            } */
        }
    }
}