@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@import "./main.css";

* {
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease-in-out;
}

body {
    color: #636466;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.scrollable-zone {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 6rem);
}

@media screen and (max-width: 768px) {
    .scrollable-zone {
        height: calc(100vh - 9rem);
    }
}

