@import "./themes/montserrat.css";

@import "./main.css";

* {
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s ease-in-out;
}

body {
    color: #636466;
    overflow-y: hidden;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.scrollable-zone {
    flex: 1;
    min-height: 0;
    overflow-y: scroll;
    padding-bottom: env(safe-area-inset-bottom);
    display: flex;
    flex-direction: column;
}
