header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    text-align: center;
    background-color: #F7F7F7;
    height: 6rem;

    .triangle {
        width: 12%;
        position: absolute;
        top: 0;
        left: 0;
        max-height: 10rem;
        max-width: 10rem;
    }

    & > .nav-links {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        & > a {
            width: 60%;
            margin: 1rem;
            min-width: 120px;
            padding: 0.5rem;
        }
    }

    & > h1 {
        width: 20%;
        margin: 1rem;
        min-width: 120px;
        padding: 0.5rem;
    }



    h1 {
        font-size: 2rem;
        font-weight: bold;
        min-width: 150px;
    }

    a {
        font-size: 1.5rem;
        transition: all 0.3s ease-in-out;
        background-color: #636466;
        border-radius: 0.5rem;
        color: white;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);

        &:hover {
            background-color: #608ABF;
            transform: scale(1.05) translateY(2px);
        }

        &.active {
            background-color: #608ABF;
        }
    }
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        height: 9rem;
        padding: 1rem;

        .triangle {
            width: 20%;
            max-height: 5rem;
            max-width: 5rem;
        }

        & > .nav-links {
            width: 100%;
            margin: 0;

            & > a {
                width: 80%;
                margin: 0.5rem;
                min-width: unset;
            }
        }

        & > h1{
            width: 100%;
            margin: 0;
            min-width: unset;
        }

        h1 {
            font-size: 1.5rem;
        }

        a {
            font-size: 1.2rem;
        }
    }
}