main {
    margin-left: 10%;
    margin-right: 10%;
    a {
        display: inline-block;
        font-size: 1.1rem;
        transition: all 0.3s ease-in-out;
        text-decoration: underline;

        & > span {
                font-weight: bold;
            }

        &:hover {
            color: #608ABF;
            font-weight: bold;
        }
    }

    article {
        font-size: 1.125rem;
        display: flex;
        align-items: center;
    }

    embed {
        width: 100%;
        height: 100%;
    }

    p {
        text-align: justify;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 768px) {
    main {
        margin-right: 5%;
    }
}

@media screen and (min-width: 769px) {
    main {
        flex: 1 0 auto;
    }
}