
.origin-badge {
    color: white;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 5rem;

    &.personal {
        border: 2px solid #608ABF;
        color: #608ABF;
    }

    &.school {
        border: 2px solid #60bf71;
        color: #60bf71;
    }

    &.internship {
        border: 2px solid #bf8860;
        color: #bf60af;
    }
    
    &.work {
        border: 2px solid #bf6060;
        color: #bf6060;
    }
}