
.project-header {
	border-left: 0.25rem solid #608ABF;
	margin-top: 3rem;
	width: calc(100% - 5rem);

	h2 {
		margin: 0 0 0 1rem;
		color: #636466;
		font-size: 2.25rem;
		font-weight: 700;
		line-height: 1;
	}

	p {
		margin: 1.5rem 0 0 1rem;
		color: #636466;
		font-size: 1.125rem;
		line-height: 2rem;
		text-align: justify;
	}
}

@media screen and (max-width: 768px) {
	.project-header {
		width: calc(100% - 2rem);
		margin-top: 1.5rem;
		border: none;

		h2 {
			font-size: 1.75rem;
		}

		p {
			font-size: 1rem;
			line-height: 1.5rem;
		}
	}
}


.project-meta {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	/* center items */

	gap: 1.25rem;
	margin-top: 3rem;
	padding: 2rem 0;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
}