
.temporal-bar-item {
    display: flex;
    align-items: center;

    .date {
        margin-left: 0.5rem;
        font-size: 0.875rem;
        text-align: right;
        padding-right: 0.5rem;
        padding-top: 0.375rem;
        width: 6.25rem;
    }

    .temporal-bar-circle { 
        width: 14px;
        height: 14px;
        border-radius: 50%;
        background-color: #608ABF;
        position: relative;
        margin-top: 0.75rem;
        left: 8px;
    }

    .temporal-bar{ 
        height: 120px;
        border-left: 2px solid #608ABF;
    }
}

@media (max-width: 768px) {
    .temporal-bar-item {

        .date {
            width: 4.5rem;
            font-size: 0.75rem;
        }

        .temporal-bar-circle { 
            width: 10px;
            height: 10px;
            left: calc(-6rem + 6px);
            position: relative;
        }

        .temporal-bar{ 
            position: relative;
            left: -6rem;
        }
    }
}